@{
    ViewData["Title"] = "Index";
}

@model BasketViewModel

<style>
    #site-header .space-bottom-wd-6, .space-wd-6, .space-xl-5, .space-6 {
        padding-bottom: 0px !important;
    }

    .space-xl-5 {
        padding-top: 6rem !important;
    }

    #primary{
        width:75%;
    }

    #secondary{
        width:25%;
    }
</style>
@*
<div class="row">

    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Sepet</h5>

                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">

                        <tr>
                            <th>Coruse Name</th>
                            <th>Coruse Price</th>
                            <th>Actions</th>
                        </tr>

                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>
                                    $@item.GetCurrentPrice @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value} applied)" : "")
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-productId="@item.productId">Delete</a>
                                </td>
                            </tr>
                        }

                        @if (Model.HasDiscount)
                        {

                            <tr>
                                <td>Discount rate</td>
                                <th colspan="2"> % @Model.DiscountRate.Value</th>
                            </tr>

                        }

                        <tr>
                            <td>@(Model.HasDiscount ? "Discounted Price" : "Total Price")</td>
                            <th colspan="2">$@Model.TotalPrice</th>
                        </tr>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" discount code applied!
                                <a asp-controller="Basket" asp-action="CancelApplyDiscount"> (cancel)</a>
                            </div>

                        }

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="DiscountApplyInput.Code">
                            <button class="btn btn-outline-secondary" type="submit">Apply</button>
                        </div>

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="text-danger">Discount Code is invalid!</div>
                        }
                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }
                    </form>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Payment information</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Go to Home</a>
                }
                else
                {
                    <div class="alert alert-info">Basket is empty!</div>
                }
            </div>
        </div>
    </div>
</div>*@


<div class="page-header border-bottom">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center py-4">
            <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">Shop Single</h1>
            <nav class="woocommerce-breadcrumb font-size-2">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
                <a asp-controller="Shop" asp-action="Index" class="h-primary">Shop</a>
                <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>Cart
            </nav>
        </div>
    </div>
</div>
<div class="site-content bg-punch-light overflow-hidden" id="content">
    <div class="container">
        <header class="entry-header space-top-2 space-bottom-1 mb-2">
            <h1 class="entry-title font-size-7">Your cart: @Model?.BasketItems?.Count items</h1>
        </header>
        <div class="row pb-8">
            <div id="primary" class="content-area">
                <main id="main" class="site-main ">
                    <div class="page type-page status-publish hentry">

                        <div class="entry-content">
                            <div class="woocommerce">
                                <form class="woocommerce-cart-form table-responsive" action="#" method="post">
                                    <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents">
                                        <thead>
                                            <tr>
                                                <th class="product-name">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-remove">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.BasketItems.Any())
                                            {
                                                @foreach (var item in Model.BasketItems)
                                                {
                                                    <tr class="woocommerce-cart-form__cart-item cart_item">
                                                        <td class="product-name" data-title="Product">
                                                            <div class="d-flex align-items-center">
                                                                <div class="ml-3 m-w-200-lg-down">
                                                                    <a href="#">@item.ProductName</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="product-price" data-title="Price">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol">$</span>@item.GetCurrentPrice @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value} applied)" : "")
                                                            </span>
                                                        </td>

                                                        <td class="product-remove">
                                                            <a asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-productId="@item.ProductId" class="remove" aria-label="Remove this item">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                                                             height="15px">
                                                                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                  d="M15.011,13.899 L13.899,15.012 L7.500,8.613 L1.101,15.012 L-0.012,13.899 L6.387,7.500 L-0.012,1.101 L1.101,-0.012 L7.500,6.387 L13.899,-0.012 L15.011,1.101 L8.613,7.500 L15.011,13.899 Z" />
                                                                </svg>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }

                                                @if (Model.HasDiscount)
                                                {

                                                    <tr>
                                                        <td>Discount rate</td>
                                                        <th colspan="2"> % @Model.DiscountRate.Value</th>
                                                    </tr>
                                                    <div class="alert alert-success">
                                                        "@Model.DiscountCode" discount code applied!
                                                        <a asp-controller="Basket" asp-action="CancelApplyDiscount"> (cancel)</a>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="alert alert-info">Basket is empty!</div>
                                            }

                                                </tbody>
                                            </table>
                                               
                                </form>
                            </div>
                        </div>

                    </div>
                </main>
            </div>
            <div id="secondary" class="sidebar cart-collaterals order-1" role="complementary">
                <div id="cartAccordion" class="border border-gray-900 bg-white mb-5">
                    <div class="p-4d875 border">
                        <div id="cartHeadingOne" class="cart-head">
                            <a class="d-flex align-items-center justify-content-between text-dark" href="#"
                               data-toggle="collapse" data-target="#cartCollapseOne" aria-expanded="true"
                               aria-controls="cartCollapseOne">
                                <h3 class="cart-title mb-0 font-weight-medium font-size-3">Cart Totals</h3>
                                <svg class="mins" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                          d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                                </svg>
                                <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                          d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                                </svg>
                            </a>
                        </div>
                        @*<div id="cartCollapseOne" class="mt-4 cart-content collapse show"
                        aria-labelledby="cartHeadingOne" data-parent="#cartAccordion">
                        <table class="shop_table shop_table_responsive">
                        <tbody>
                        <tr class="cart-subtotal">
                        <th>Subtotal</th>
                        <td data-title="Subtotal">
                        <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">£</span>79.99
                        </span>
                        </td>
                        </tr>
                        <tr class="order-shipping">
                        <th>Shipping</th>
                        <td data-title="Shipping">Free Shipping</td>
                        </tr>
                        </tbody>
                        </table>
                        </div>*@
                    </div>
                    @* <div class="p-4d875 border">
                    <div id="cartHeadingTwo" class="cart-head">
                    <a class="d-flex align-items-center justify-content-between text-dark" href="#"
                    data-toggle="collapse" data-target="#cartCollapseTwo" aria-expanded="true"
                    aria-controls="cartCollapseTwo">
                    <h3 class="cart-title mb-0 font-weight-medium font-size-3">Shipping</h3>
                    <svg class="mins" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                    d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                    </svg>
                    <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                    d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                    </svg>
                    </a>
                    </div>
                    <div id="cartCollapseTwo" class="mt-4 cart-content collapse show"
                    aria-labelledby="cartHeadingTwo" data-parent="#cartAccordion">

                    <ul id="shipping_method">
                    <li>
                    <input type="radio" name="shipping_method[0]" data-index="0"
                    id="shipping_method_0_flat_rate1" value="flat_rate:1"
                    class="shipping_method">
                    <label for="shipping_method_0_flat_rate1">Free shipping</label>
                    </li>
                    <li>
                    <input type="radio" name="shipping_method[0]" data-index="0"
                    id="shipping_method_0_flat_rate2" value="flat_rate:2"
                    class="shipping_method" checked="checked">
                    <label for="shipping_method_0_flat_rate2">
                    Flat rate: <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>15
                    </span>
                    </label>
                    </li>
                    <li>
                    <input type="radio" name="shipping_method[0]" data-index="0"
                    id="shipping_method_0_flat_rate3" value="flat_rate:2"
                    class="shipping_method" checked="checked">
                    <label for="shipping_method_0_flat_rate3">
                    Local pickup:: <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>8
                    </span>
                    </label>
                    </li>
                    </ul>

                    <span class="font-size-2">Shipping to Turkey.</span><a href="#"
                    class="font-weight-medium h-primary ml-3 font-size-2">Change Address</a>
                    </div>
                    </div>*@
                    <div class="p-4d875 border">
                        <div id="cartHeadingThree" class="cart-head">
                            <a class="d-flex align-items-center justify-content-between text-dark" href="#"
                               data-toggle="collapse" data-target="#cartCollapseThree" aria-expanded="true"
                               aria-controls="cartCollapseThree">
                                <h3 class="cart-title mb-0 font-weight-medium font-size-3">Coupon</h3>
                                <svg class="mins" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                          d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                                </svg>
                                <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                          d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                                </svg>
                            </a>
                        </div>
                        <div id="cartCollapseThree" class="mt-4 cart-content collapse show"
                             aria-labelledby="cartHeadingThree" data-parent="#cartAccordion">
                            @if (Model != null && Model.BasketItems.Any())
                            {
                                <form class="coupon" asp-controller="Basket" asp-action="ApplyDiscount">
                                    <label for="coupon_code">Coupon:</label>
                                    <input type="text" name="DiscountApplyInput.Code" class="input-text" id="coupon_code" value=""
                                       placeholder="Coupon code" autocomplete="off">
                                    <input type="submit" class="button" name="apply_coupon" value="Apply coupon">
                                </form>

                                @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                                {
                                    <div class="text-danger mt-2">Discount Code is invalid!</div>
                                }
                                @if (TempData["discountError"] != null)
                                {
                                    <div class="text-danger mt-2">@TempData["discountError"]</div>
                                }
                            }
                        </div>
                    </div>
                    <div class="p-4d875 border">
                        <table class="shop_table shop_table_responsive">
                            <tbody>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td data-title="Total">
                                        <strong>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>@Model?.TotalPrice
                                            </span>
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="wc-proceed-to-checkout">
                    <a asp-controller="Order" asp-action="Checkout"
                       class="checkout-button button alt wc-forward btn btn-dark btn-block rounded-0 py-4">
                        Proceed
                        to checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>