@model List<CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@*
<h2>Courses</h2>
<hr />

@if (Model.Any())
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var course in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@course.StockPictureUrl" height="250" style="object-fit:cover" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@course.Name</h5>
                    <p class="card-text">@course.ShortDescription</p>
                    <h4 class="text-primary">$@course.Price</h4>
                    <p class="card-text">Category: @course.Category.Name</p>
                    <a class="btn btn-success" asp-action="Detail" asp-route-id="@course.Id">Learn More..</a>
                </div>
            </div>
        </div>
    }
    </div>
}*@

  <section class="position-relative">
    <div class="bg-gray-200 position-absolute bottom-0 right-0 left-0 h-50 h-wd-60 z-index-n1"></div>
    <div class="container-fluid px-3 px-md-5 px-xl-8d75">
      <div class="bg-img-hero img-fluid" style="background-image: url(../../assets/img/1800x500/img1.jpg);">
        <div class="space-bottom-xl-1 space-top-xl-4 p-5 p-md-7 px-xl-10">
          <div class="js-slick-carousel u-slick"
            data-pagi-classes="text-center u-slick__pagination u-slick__pagination mt-5 mt-md-10 mb-0">
            <div class="hero">
              <div class="row pt-xl-1">
                <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                  <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                    <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2"
                      data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">The Bookworm Editors'</p>
                    <h2 class="hero__title font-size-14 mb-4" data-scs-animation-in="fadeInUp"
                      data-scs-animation-delay="300">
                      <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                      <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                    </h2>
                    <a asp-controller="Shop" asp-action="Index"
                      class="btn btn-primary btn-wide rounded-0 hero__btn" data-scs-animation-in="fadeInLeft"
                      data-scs-animation-delay="400">See More</a>
                  </div>
                </div>
                <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                  <img class="img-fluid" src="~/assets/img/800x420/img1.png" alt="image-description">
                </div>
              </div>
            </div>
            <div class="js-slide">
              <div class="hero row">
                <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                  <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                    <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2"
                      data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">The Bookworm Editors'</p>
                    <h2 class="hero__title font-size-14 mb-4" data-scs-animation-in="fadeInUp"
                      data-scs-animation-delay="300">
                      <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                      <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                    </h2>
                                    <a asp-controller="Shop" asp-action="Index"
                      class="btn btn-primary btn-wide rounded-0 hero__btn" data-scs-animation-in="fadeInLeft"
                      data-scs-animation-delay="400">See More</a>
                  </div>
                </div>
                <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                  <img class="img-fluid" src="~/assets/img/800x420/img1.png" alt="image-description">
                </div>
              </div>
            </div>
            <div class="js-slide">
              <div class="hero row">
                <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                  <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                    <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2"
                      data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">The Bookworm Editors'</p>
                    <h2 class="hero__title font-size-14 mb-4" data-scs-animation-in="fadeInUp"
                      data-scs-animation-delay="300">
                      <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                      <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                    </h2>
                                    <a asp-controller="Shop" asp-action="Index"
                      class="btn btn-primary btn-wide rounded-0 hero__btn" data-scs-animation-in="fadeInLeft"
                      data-scs-animation-delay="400">See More</a>
                  </div>
                </div>
                <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                  <img class="img-fluid" src="~/assets/img/800x420/img1.png" alt="image-description">
                </div>
              </div>
            </div>
            <div class="js-slide">
              <div class="hero row">
                <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                  <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                    <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2"
                      data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">The Bookworm Editors'</p>
                    <h2 class="hero__title font-size-14 mb-4" data-scs-animation-in="fadeInUp"
                      data-scs-animation-delay="300">
                      <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                      <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                    </h2>
                                    <a asp-controller="Shop" asp-action="Index"
                      class="btn btn-primary btn-wide rounded-0 hero__btn" data-scs-animation-in="fadeInLeft"
                      data-scs-animation-delay="400">See More</a>
                  </div>
                </div>
                <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                  <img class="img-fluid" src="~/assets/img/800x420/img1.png" alt="image-description">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-gray-200 pt-5">
    <section class="space-bottom-2 space-bottom-lg-3">
      <div class="container-fluid px-3 px-md-5 px-xl-8d75">
        <div class="row row-cols-md-2 row-cols-xl-3">
          <div class="col">
            <div class="position-relative">
              <div class="bg-white height-md-300 mb-5 mb-xl-0">
                <div class="p-4 py-lg-6 px-lg-7">
                  <div class="my-xl-1">
                    <div class="mb-2">
                      <span class="font-weight-medium h6 text-gray-400">BEST SELLER</span>
                    </div>
                    <h6 class="font-weight-bold font-size-7">Books</h6>
                                    <a asp-controller="Shop" asp-action="Index"
                      class="link-black-100 text-dark font-weight-medium">
                      <span class="product__add-to-cart d-inline-block">Shop Now</span>
                    </a>
                    <div class="d-flex justify-content-end d-md-block position-md-absolute bottom-md-30 right-md-30">
                      <img src="~/assets/img/250x225/img1.png"
                        class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image"
                        alt="image-description">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="position-relative">
              <div class="bg-white height-md-300 mb-5 mb-lg-0">
                <div class="p-4 py-lg-6 px-lg-7">
                  <div class="my-xl-1">
                    <h2 class="font-size-26 mt-lg-1 text-lh-md">
                      <span class="hero__title-line-1 font-weight-bold d-block">New Books</span>
                      <span class="hero__title-line-2 font-weight-normal d-block">Available</span>
                    </h2>
                                    <a asp-controller="Shop" asp-action="Index"
                      class="link-black-100 text-dark font-weight-medium">
                      <span class="product__add-to-cart d-inline-block">Shop Now</span>
                    </a>
                    <div class="d-flex justify-content-end d-md-block position-md-absolute bottom-md-30 right-md-30">
                      <img src="~/assets/img/264x223/img1.png"
                        class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image"
                        alt="image-description">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="position-relative">
              <div class="bg-white height-md-300">
                <div class="py-4 px-5 pl-lg-7">
                  <div class="ml-lg-1">
                    <div class="position-relative z-index-2">
                      <div class="mb-2">
                        <span class="font-weight-medium h6 text-gray-400">DEAL OF THE WEEK</span>
                      </div>
                      <h6 class="font-weight-bold font-size-7">Made For You</h6>
                                        <a asp-controller="Shop" asp-action="Index"
                        class="link-black-100 text-dark font-weight-medium">
                        <span class="product__add-to-cart d-inline-block">Shop Book</span>
                      </a>
                    </div>
                    <div class="position-md-absolute bottom-md-30 right-md-30">
                      <div class="d-flex justify-content-end d-md-block">
                        <img src="~/assets/img/250x223/img1.png"
                          class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image"
                          alt="image-description">
                      </div>
                    </div>
                    <div class="position-md-absolute bottom-md-30">
                      <div class="d-flex align-items-stretch">
                        <div class="py-2d75 text-primary-home-v3 mr-4">
                          <span class="font-weight-medium font-size-3">114</span>
                          <span class="font-size-2">Days</span>
                        </div>
                        <div class="py-2d75 text-primary-home-v3 mr-4">
                          <span class="font-weight-medium font-size-3">03</span>
                          <span class="font-size-2">Hours</span>
                        </div>
                        <div class="py-2d75 text-primary-home-v3 mr-4">
                          <span class="font-weight-medium font-size-3">60</span>
                          <span class="font-size-2">Mins</span>
                        </div>
                        <div class="py-2d75 text-primary-home-v3">
                          <span class="font-weight-medium font-size-3">25</span>
                          <span class="font-size-2">Secs</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="space-bottom-2 space-bottom-lg-3">
      <header class="mb-4">
        <h2 class="font-size-7 text-center">Bestselling Books</h2>
      </header>
      <div>
        @*<ul
          class="nav justify-content-md-center nav-gray-700 mb-5 flex-nowrap flex-md-wrap overflow-auto overflow-md-visible"
          id="featuredBooks" role="tablist">
          <li class="nav-item mx-5 mb-1 flex-shrink-0 flex-md-shrink-1">
            <a class="nav-link px-0 active" id="featured-tab" data-toggle="tab" href="#featured" role="tab"
              aria-controls="featured" aria-selected="true">Featured</a>
          </li>
          <li class="nav-item mx-5 mb-1 flex-shrink-0 flex-md-shrink-1">
            <a class="nav-link px-0" id="onsale-tab" data-toggle="tab" href="#onsale" role="tab" aria-controls="onsale"
              aria-selected="false">On Sale</a>
          </li>
          <li class="nav-item mx-5 mb-1 flex-shrink-0 flex-md-shrink-1">
            <a class="nav-link px-0" id="mostviewed-tab" data-toggle="tab" href="#mostviewed" role="tab"
              aria-controls="mostviewed" aria-selected="false">Most Viewed</a>
          </li>
        </ul>*@
        <div class="tab-content" id="featuredBooksContent">
          <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
            <ul
              class="products list-unstyled row no-gutters row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 border-top border-left my-0">
              @foreach (var course in Model)
                        {
                            <li class="product col bg-hover-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a asp-action="Detail" asp-route-id="@course.Id"
                                           class="d-block">
                                                <img src="@course.StockPictureUrl"
                                                 class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                 alt="image-description">
                                            </a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 text-center">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate">
                                                <a asp-action="Detail" asp-route-id="@course.Id">Paperback</a>
                                            </div>
                                            <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a asp-action="Detail" asp-route-id="@course.Id">
                                                    @course.Name
                                                </a>
                                            </h2>
                                            <div class="font-size-2  mb-1 text-truncate">
                                                <a asp-action="Detail" asp-route-id="@course.Id"
                                               class="text-gray-700">@course.ShortDescription</a>
                                            </div>
                                            <div class="price d-flex align-items-center justify-content-md-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>@course.Price
                                                </span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a asp-action="Detail" asp-route-id="@course.Id"
                                           class="text-uppercase text-dark h-dark font-weight-medium mr-auto" data-toggle="tooltip"
                                           data-placement="right" title="ADD TO CART">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
              
            </ul>
          </div>
        </div>
      </div>
    </section>
    @*<section class="space-bottom-2 space-bottom-lg-3">
      <div class="container">
        <header class="text-center mb-5 mb-lg-7">
          <h2 class="font-size-7 mb-0">Featured Categories</h2>
        </header>
        <ul class="nav justify-content-between flex-nowrap pb-2 py-md-3 js-slick-carousel u-slick"
          data-arrows-classes="d-none d-lg-block u-slick__arrow u-slick__arrow-centered--y bg-transparent border-0 text-dark"
          data-arrow-left-classes="fas flaticon-back u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n5"
          data-arrow-right-classes="fas flaticon-next u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n5"
          data-slides-show="5" data-responsive='[{
                    "breakpoint": 1265,
                       "settings": {
                         "slidesToShow": 4
                       }
                    }, {
                       "breakpoint": 992,
                       "settings": {
                         "slidesToShow": 3
                       }
                    }, {
                       "breakpoint": 768,
                       "settings": {
                         "slidesToShow": 1
                       }
                    }, {
                       "breakpoint": 554,
                       "settings": {
                         "slidesToShow": 1
                       }
                    }]'>
          <li class="nav-item">
            <a class="nav-link font-weight-medium"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-primary-indigo">
                  <i class="glyph-icon flaticon-gallery font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Arts & Photography</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-tangerine">
                  <i class="glyph-icon flaticon-cook font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Food & Drink</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-chili">
                  <i class="glyph-icon flaticon-like font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Romance</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-carolina">
                  <i class="glyph-icon flaticon-doctor font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Health</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-punch">
                  <i class="glyph-icon flaticon-resume font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Biography</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-tangerine">
                  <i class="icon glyph-icon flaticon-jogging font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Sports</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-chili">
                  <i class="icon glyph-icon flaticon-baby-boy font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Children</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-chili">
                  <i class="glyph-icon flaticon-like font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Romance</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium pr-lg-5"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-chili">
                  <i class="icon glyph-icon flaticon-baby-boy font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Children</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium"
              href="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/html-demo/shop/v4.html">
              <div class="text-center">
                <figure class="d-md-block mb-0 text-tangerine">
                  <i class="icon glyph-icon flaticon-jogging font-size-12"></i>
                </figure>
                <span class="tabtext font-size-3 font-weight-medium text-dark">Sports</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>*@
    <section class="space-bottom-2 space-bottom-lg-3">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
          <div class="col">
            <div class="mb-5 mb-xl-0 position-relative">
              <div class="bg-red-1 height-md-250">
                <div class="p-5 pl-lg-6 pr-lg-5 pt-lg-5 pb-lg-5">
                  <div class="position-relative z-index-2">
                    <h2 class="font-size-26 mt-lg-1 text-lh-md text-white">
                      <span class="hero__title-line-1 font-weight-bold d-block">Coloring Books</span>
                      <span class="hero__title-line-2 font-weight-normal d-block">for adults</span>
                    </h2>
                    <a class="h6 font-weight-medium text-white"
                                       asp-controller="Shop" asp-action="Index">
                                        Shop
                      Now</a>
                  </div>
                  <div class="d-flex d-md-block justify-content-end position-md-absolute bottom-md-30 right-md-30">
                    <img src="~/assets/img/280x147/img1.png"
                      class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image" alt="image-description">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-5 mb-lg-0 position-relative">
              <div class="bg-blue height-md-250">
                <div class="p-5 pl-lg-6 pr-lg-5 pt-lg-5 pb-lg-5">
                  <div class="mb-3 mb-lg-0">
                    <h2 class="font-size-26 mt-lg-1 text-lh-md text-white">
                      <span class="hero__title-line-1 font-weight-bold d-block">New Books</span>
                      <span class="hero__title-line-2 font-weight-normal d-block">Available</span>
                    </h2>
                    <a class="h6 font-weight-medium text-white"
                                       asp-controller="Shop" asp-action="Index">
                                        Shop
                      Now</a>
                  </div>
                  <div class="d-flex d-md-block justify-content-end position-md-absolute right-md-30 bottom-md-30">
                    <img src="~/assets/img/150x169/img1.png"
                      class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image" alt="image-description">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="position-relative">
              <div class="bg-yellow-1 height-md-250">
                <div class="p-5 pl-lg-6 pr-lg-5 pt-lg-5 pb-lg-5">
                  <div class="mb-4 mb-lg-0">
                    <h2 class="font-size-26 mt-lg-1 text-lh-md text-white">
                      <span class="hero__title-line-1 font-weight-bold d-block">Monthly Selected </span>
                      <span class="hero__title-line-2 font-weight-normal d-block">Books</span>
                    </h2>
                    <a class="h6 font-weight-medium text-white"
                                       asp-controller="Shop" asp-action="Index">
                                        Shop
                      Now</a>
                  </div>
                  <div
                    class="d-flex d-md-block justify-content-end position-md-absolute bottom-md-30 right-md-30 mb-n4">
                    <img src="~/assets/img/200x162/img1.png"
                      class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image" alt="image-description">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="space-bottom-2 space-bottom-lg-3">
      <div>
        <header class="text-center mb-5 mb-lg-7">
          <h2 class="font-size-7 mb-0">Featured Books</h2>
        </header>
        <ul class="js-slick-carousel products list-unstyled my-0"
          data-arrows-classes="d-none d-lg-block u-slick__arrow u-slick__arrow-centered--y"
          data-arrow-left-classes="fas flaticon-back u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-4"
          data-arrow-right-classes="fas flaticon-next u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-4"
          data-slides-show="5" data-responsive='[{
                       "breakpoint": 992,
                       "settings": {
                         "slidesToShow": 2
                       }
                    }, {
                       "breakpoint": 768,
                       "settings": {
                         "slidesToShow": 1
                       }
                    }, {
                       "breakpoint": 554,
                       "settings": {
                         "slidesToShow": 1
                       }
                    }]'>
                @foreach (CourseViewModel item in ViewBag.Featured)
                {
                    <li class="product product__space border bg-hover-white">
            <div class="product__inner overflow-hidden p-4d875">
              <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                <div class="woocommerce-loop-product__thumbnail">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"
                    class="d-block"><img src="@item.StockPictureUrl"
                      class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                      alt="image-description"></a>
                </div>
                <div class="woocommerce-loop-product__body product__body pt-3 text-center">
                  <div class="text-uppercase font-size-1 mb-1 text-truncate"><a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">Paperback</a>
                  </div>
                  <h2
                    class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h2>
                  <div class="font-size-2  mb-1 text-truncate"><a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"
                      class="text-gray-700">@item.Category</a></div>
                  <div class="price d-flex align-items-center justify-content-center font-weight-medium font-size-3">
                    <span class="woocommerce-Price-amount amount"><span
                        class="woocommerce-Price-currencySymbol">$</span>@item.Price</span>
                  </div>
                </div>
                <div class="product__hover d-flex align-items-center">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"
                    class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                    <span class="product__add-to-cart">ADD TO CART</span>
                    <span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
                  </a>
              
                </div>
              </div>
            </div>
          </li>
                }
     
        </ul>
      </div>
    </section>
    <section class="space-bottom-3 space-bottom-lg-5">
      <div class="container">
        <header class="text-center mb-5 mb-lg-7">
          <h2 class="font-size-7 mb-0">Biographies Books</h2>
        </header>
        <div class="js-slick-carousel u-slick products border"
          data-pagi-classes="text-center u-slick__pagination mt-md-8 mt-4 position-absolute right-0 left-0 mb-0"
          data-slides-show="3" data-responsive='[{
                       "breakpoint": 992,
                       "settings": {
                         "slidesToShow": 2
                       }
                    }, {
                       "breakpoint": 768,
                       "settings": {
                         "slidesToShow": 1
                       }
                    }, {
                       "breakpoint": 554,
                       "settings": {
                         "slidesToShow": 1
                       }
                    }]'>
                @foreach (CourseViewModel item in ViewBag.Biographies)
                {

                    <div class="product product__card bg-hover-white border-right">
                        <div class="media p-3 p-md-4d875">
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"
                           class="d-block">
                                <img src="@item.StockPictureUrl" class="img-fluid" width="120" height="180"
                                 alt="image-description">
                            </a>
                            <div class="media-body ml-4d875">
                                <div class="text-uppercase font-size-1 mb-1 text-truncate">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                        Hard
                                        Cover
                                    </a>
                                </div>
                                <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                        @item.Name
                                    </a>
                                </h2>
                                <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>@item.Price
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                   @* <div class="product product__card bg-hover-white border-right">
                        <div class="media p-3 p-md-4d875">
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"
                           class="d-block">
                                <img src="@item.StockPictureUrl" class="img-fluid"
                                 alt="image-description">
                            </a>
                            <div class="media-body ml-4d875">
                                <div class="text-uppercase font-size-1 mb-1 text-truncate">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                        Hard
                                        Cover
                                    </a>
                                </div>
                                <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                        @item.Name
                                    </a>
                                </h2>
                                <div class="font-size-2 mb-1 text-truncate">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"
                                   class="text-gray-700">@item.ShortDescription</a>
                                </div>
                                <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>@item.Price
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@
                }
          
        </div>
      </div>
    </section>
  </div>